body {font-family: Arial, verdana, san-serif; font-size: 12px; margin-left: 0; margin-top: 0}
a {font-weight: bold; color: #ee2e02; text-decoration: none}
td {font-family: arial,verdana,san-seirf; font-size: 12px}
p{margin-left: 2; margin-top: 2}

NOTE :
Maksud dari arial, verdana, san-serif adalah coba gunakan font
arial jika tidak ada gunakan verdana jika tidak ada maka san-serif.
Untuk menu gambarnya anda dapat membuatnya di PHOTOSHOP.